
<p id="notice"><%= notice %></p>

<p>
  <strong>First Name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Company:</strong>
<%= Company.find(@user.company_id).name  %>
</p>

<p>
  <strong>Role:</strong>
  <%= UserRole.find(@user.role_id).role_name  %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @user.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @user.end_date %>
</p>

<p>
  <strong>Monthly:</strong>
  <%= @user.monthly_charge %>
</p>
<p>
  <strong>Notes:</strong>
  <%= @user.notes %>
</p>
<p>
  <strong>images:</strong>
  <%= @user.image_id %>
</p>
<p>
  <strong>active:</strong>
  <%= @user.active %>
</p>

<%= link_to 'Back', manage_index_path ,:class=>"btn btn-default"%>
