<%= form_for(country) do |f| %>
  <% if country.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(country.errors.count, "error") %> prohibited this country from being saved:</h2>

      <ul>
      <% country.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 <div class="form-group">
    <%= f.label :country_name , :class=>"col-sm-2 control-label"%>
     <div class="col-sm-4  inputGroupContainer">
    <%= f.text_field :country_name , :placeholder => "Country Name",:class=>"form-control"%>
  </div>
  </div>
    <br><br>
 <div class="form-group">
    <%= f.label :code , :class=>"col-sm-2 control-label"%>
     <div class="col-sm-4  inputGroupContainer">
    <%= f.text_field :code , :placeholder => "Type code",:class=>"form-control"%>
  </div>
  </div>
  <br><br>
  <div class="actions">
   <div class="col-sm-2  inputGroupContainer">
    <%= f.submit :class=>"btn btn-success" %>
    </div>
  </div>
<% end %>
